body {
  background-image: none;
}

.main-title {
  margin: auto;
  border: 2px solid var(--p_color);
  padding: 10px 20px;
  font-size: 25px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.5s ease-in-out;
  color: var(--first_color);
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--first_color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .main-title::before,
  .main-title::after {
    content: "";
    width: 0;
    height: 0;
  }
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: #fff;
  border: 2px solid white;
  transition-delay: 0.5s;
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
.history {
  color: var(--first_color);
  font-size: 30px;
  text-align: center;
  font-weight: 800;
  margin: auto;
}
/* -------------------------------------------------------- */
.containerr {
  background-color: #2f5060;
  padding: 25px 0 !important;
  position: relative;
  min-height: 66vh;
  margin-bottom: 70px;
}

.main img {
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}

.content {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
audio {
  width: 26vh;
}
.two {
  direction: rtl;
}
.msg {
  background-color: #0084ff;
  border-radius: 14px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: fit-content;
  color: #f0f2f5;
}
* {
  box-sizing: border-box;
}
.reply {
  background-color: white;
  border-radius: 14px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: fit-content;
  color: black;
}
.reply p {
  direction: ltr;
}
.input-message {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 50px;
  color: #0084ff;
  background: white;
  transition: all ease 0.5s;
}
.field {
  width: 100%;
  min-height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.25em 0.5em;
  border-top: 1px solid rgb(177, 168, 168);
  transition: all ease 0.5s;
  position: fixed;
  bottom: 0;
  margin-top: 15px;
  direction: rtl;
  background-color: var(--first_color);
}
.icon.send.text {
  min-width: 32px;
  display: flex;
  align-items: center;
  color: #fff;
  background: #0084ff;
  padding: 0.5em;
  border-radius: 50%;
  overflow: hidden;
  border: 0;
}
.msg img {
  width: 90%;
  border-radius: 5px;
}
p {
  direction: rtl;
}
.msg p {
  font-size: 20px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.fa-microphone {
  color: white;
  background-color: #0084ff;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.fa-circle {
  color: red;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.red > * {
  background-color: red;
}

#record {
  background-color: none;
}
